.box {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #071b4e;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;  /* Changed color to white to improve visibility */
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: auto;
  margin-top: 100px;
  position: relative;
  z-index: 1;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  margin-bottom: 230px;
}

.button-box {
  background-color: #020a1d;
  color: white;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-box:hover {
  background-color: #4f586d;
}

input {
  width: 500px;
  height: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0a257e;
  border: 2px solid #992eb4;
  border-radius: 5px;
}

input:focus {
  background-color: #1647eb;
  border-color: #9413b4;
}

input::placeholder {
  color: #474aff;
  font-style: italic;
}

.entries-container {
  position: fixed;
  top: 10%;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  width: 250px;
  height: auto;
  max-height: 80%;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

.entries-container ul {
  list-style-type: none;
  padding-left: 0;
}

.entries-container li {
  padding: 5px 0;
}

.entries-container::-webkit-scrollbar {
  display: none;}
