/* set sizing to border box method */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Adjust body to fit the header and input */
body {
    background-color: Thistle;
    font-family: cursive;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 50px; /* Increase padding to make enough space */
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 100vh; /* Make sure the body covers full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
}

h1 {
    font-size: 36px; /* Adjust font size if necessary */
    margin-bottom: 20px; /* Add margin below the header for spacing */
}

input#inputText {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px; /* Spacing between input and button */
}

button {
    border-radius: 10px;
    width: 190px;
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
}

/* Gradient background for html */
html {
    background: radial-gradient(circle, SkyBlue, SkyBlue 50%, LightCyan 50%, SkyBlue);
    background-size: 8px 8px;
}

.image-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -100px;
}

.side-image {
    width: 100px;
    height: auto;
    margin-left: 16px;
    border-radius: 8px;
    border: 2px solid #B1B1B1;
}
