
  
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        ;
        background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
        overflow: hidden;
        width: 100%;
      }
      
      .stars {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-45deg);
      }
      
      .star {
        --star-tail-length: 6em;
        --star-tail-height: 2px;
        --star-width: calc(var(--star-tail-length) / 6);
        --fall-duration: 9s;
        --tail-fade-duration: var(--fall-duration);
        
        position: absolute;
        top: var(--top-offset);
        left: 0;
        width: var(--star-tail-length);
        height: var(--star-tail-height);
        color: #1e90ff; /* Blue color for stars */
        background: linear-gradient(45deg, #1e90ff, transparent);
        border-radius: 50%;
        filter: drop-shadow(0 0 6px #1e90ff);
        transform: translate3d(104em, 0, 0);
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
      }
    
        .star {
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
        }
      
      .star:nth-child(1) {
        --star-tail-length: 7.44em;
        --top-offset: 51.37vh;
        --fall-duration: 8.577s;
        --fall-delay: 7.031s;
        --star-color: #1e90ff; /* Blue color for star */
      }
      .star:nth-child(2) {
        --star-tail-length: 5.43em;
        --top-offset: 94.46vh;
        --fall-duration: 11.961s;
        --fall-delay: 5.443s;
        --star-color: #1e90ff;
      }
      .star:nth-child(3) {
        --star-tail-length: 6.37em;
        --top-offset: 34.25vh;
        --fall-duration: 6.348s;
        --fall-delay: 6.078s;
        --star-color: #1e90ff;
      }
      .star:nth-child(4) {
        --star-tail-length: 5.7em;
        --top-offset: 6.33vh;
        --fall-duration: 8.256s;
        --fall-delay: 6.577s;
        --star-color: #1e90ff;
      }
      .star:nth-child(5) {
        --star-tail-length: 7.22em;
        --top-offset: 68.8vh;
        --fall-duration: 6.134s;
        --fall-delay: 0.583s;
        --star-color: #1e90ff;
      }
      .star:nth-child(6) {
        --star-tail-length: 6.23em;
        --top-offset: 47.87vh;
        --fall-duration: 7.761s;
        --fall-delay: 0.559s;
        --star-color: #956c8a;
      }
      .star:nth-child(7) {
        --star-tail-length: 5.16em;
        --top-offset: 10.87vh;
        --fall-duration: 11.691s;
        --fall-delay: 9.735s;
        --star-color: #1e90ff;
      }
      .star:nth-child(8) {
        --star-tail-length: 5.37em;
        --top-offset: 26.13vh;
        --fall-duration: 11.158s;
        --fall-delay: 2.921s;
        --star-color: #1e90ff;
      }
      .star:nth-child(9) {
        --star-tail-length: 6.02em;
        --top-offset: 56.36vh;
        --fall-duration: 8.377s;
        --fall-delay: 1.255s;
        --star-color: #1e90ff;
      }
      .star:nth-child(10) {
        --star-tail-length: 6.86em;
        --top-offset: 1.51vh;
        --fall-duration: 7.292s;
        --fall-delay: 8.596s;
        --star-color: #1e90ff;
      }
      .star:nth-child(11) {
        --star-tail-length: 5.96em;
        --top-offset: 53.6vh;
        --fall-duration: 7.421s;
        --fall-delay: 8.849s;
        --star-color: #1e90ff;
      }
      .star:nth-child(12) {
        --star-tail-length: 5.73em;
        --top-offset: 87.03vh;
        --fall-duration: 10.883s;
        --fall-delay: 4.402s;
        --star-color: #1e90ff;
      }
      .star:nth-child(13) {
        --star-tail-length: 5.22em;
        --top-offset: 27.85vh;
        --fall-duration: 8.181s;
        --fall-delay: 8.201s;
        --star-color: #1e90ff;
      }
      .star:nth-child(14) {
        --star-tail-length: 5.51em;
        --top-offset: 40.85vh;
        --fall-duration: 11.333s;
        --fall-delay: 0.858s;
        --star-color: #1e90ff;
      }
      .star:nth-child(15) {
        --star-tail-length: 5.05em;
        --top-offset: 3.53vh;
        --fall-duration: 9.312s;
        --fall-delay: 5.257s;
        --star-color: #FFC000;
      }
      .star:nth-child(16) {
        --star-tail-length: 5.58em;
        --top-offset: 93.81vh;
        --fall-duration: 8.247s;
        --fall-delay: 5.702s;
        --star-color: #1e90ff;
      }
      .star:nth-child(17) {
        --star-tail-length: 7.29em;
        --top-offset: 37.06vh;
        --fall-duration: 9.617s;
        --fall-delay: 5.444s;
        --star-color: #1e90ff;
      }
      .star:nth-child(18) {
        --star-tail-length: 7.39em;
        --top-offset: 11.23vh;
        --fall-duration: 7s;
        --fall-delay: 1.18s;
        --star-color: #1e90ff;
      }
      .star:nth-child(19) {
        --star-tail-length: 6.76em;
        --top-offset: 32.28vh;
        --fall-duration: 8.851s;
        --fall-delay: 8.171s;
        --star-color: #1e90ff;
      }
      .star:nth-child(20) {
        --star-tail-length: 6.47em;
        --top-offset: 14.51vh;
        --fall-duration: 10.085s;
        --fall-delay: 0.731s;
        --star-color: #1e90ff;
      }
      .star:nth-child(21) {
        --star-tail-length: 6.15em;
        --top-offset: 1.37vh;
        --fall-duration: 11.849s;
        --fall-delay: 6.901s;
        --star-color: #1e90ff;
      }
      .star:nth-child(22) {
        --star-tail-length: 6.48em;
        --top-offset: 86.6vh;
        --fall-duration: 9.091s;
        --fall-delay: 8.8s;
        --star-color: #1e90ff;
      }
      .star:nth-child(23) {
        --star-tail-length: 6.46em;
        --top-offset: 70.79vh;
        --fall-duration: 10.84s;
        --fall-delay: 2.215s;
        --star-color: #956c8a;
      }
      .star:nth-child(24) {
        --star-tail-length: 5.91em;
        --top-offset: 24.62vh;
        --fall-duration: 6.586s;
        --fall-delay: 6.497s;
        --star-color: #1e90ff;
      }
      .star:nth-child(25) {
        --star-tail-length: 6.16em;
        --top-offset: 73.52vh;
        --fall-duration: 8.018s;
        --fall-delay: 0.889s;
        --star-color: #FFC000;
      }
      .star:nth-child(26) {
        --star-tail-length: 7.12em;
        --top-offset: 79.43vh;
        --fall-duration: 11.194s;
        --fall-delay: 8.014s;
        --star-color: #1e90ff;
      }
      .star:nth-child(27) {
        --star-tail-length: 7.45em;
        --top-offset: 18.43vh;
        --fall-duration: 11.809s;
        --fall-delay: 5.558s;
        --star-color: #1e90ff;
      }
      .star:nth-child(28) {
        --star-tail-length: 6.05em;
        --top-offset: 9.96vh;
        --fall-duration: 11.399s;
        --fall-delay: 2.808s;
        --star-color: #1e90ff;
      }
      .star:nth-child(29) {
        --star-tail-length: 6.71em;
        --top-offset: 38.57vh;
        --fall-duration: 6.792s;
        --fall-delay: 3.841s;
        --star-color: #1e90ff;
      }
      .star:nth-child(30) {
        --star-tail-length: 7.35em;
        --top-offset: 87.34vh;
        --fall-duration: 6.798s;
        --fall-delay: 0.434s;
        --star-color: #1e90ff;
      }
      .star:nth-child(31) {
        --star-tail-length: 6.06em;
        --top-offset: 53.84vh;
        --fall-duration: 8.427s;
        --fall-delay: 1.749s;
        --star-color: #1e90ff;
      }
      .star:nth-child(32) {
        --star-tail-length: 5.25em;
        --top-offset: 5.49vh;
        --fall-duration: 8.393s;
        --fall-delay: 0.727s;
        --star-color: #1e90ff;
      }
      .star:nth-child(33) {
        --star-tail-length: 5.93em;
        --top-offset: 35.09vh;
        --fall-duration: 8.075s;
        --fall-delay: 5.674s;
        --star-color: #1e90ff;
      }
      .star:nth-child(34) {
        --star-tail-length: 6.26em;
        --top-offset: 58.17vh;
        --fall-duration: 10.452s;
        --fall-delay: 1.428s;
        --star-color: #1e90ff;
      }
      .star:nth-child(35) {
        --star-tail-length: 7.12em;
        --top-offset: 76.12vh;
        --fall-duration: 8.334s;
        --fall-delay: 2.098s;
        --star-color: #1e90ff;
      }
      .star:nth-child(36) {
        --star-tail-length: 7.22em;
        --top-offset: 61.42vh;
        --fall-duration: 10.006s;
        --fall-delay: 8.437s;
        --star-color: #FFC000;
      }
      .star:nth-child(37) {
        --star-tail-length: 5.31em;
        --top-offset: 12.96vh;
        --fall-duration: 9.588s;
        --fall-delay: 1.279s;
        --star-color: #1e90ff;
      }
      .star:nth-child(38) {
        --star-tail-length: 6.23em;
        --top-offset: 82.79vh;
        --fall-duration: 10.029s;
        --fall-delay: 9.361s;
        --star-color: #1e90ff;
      }
      .star:nth-child(39) {
        --star-tail-length: 7.21em;
        --top-offset: 77.59vh;
        --fall-duration: 6.413s;
        --fall-delay: 9.597s;
        --star-color: #1e90ff;
      }
      .star:nth-child(40) {
        --star-tail-length: 6.39em;
        --top-offset: 32.75vh;
        --fall-duration: 7.679s;
        --fall-delay: 6.869s;
        --star-color: #1e90ff;
      }
      .star:nth-child(41) {
        --star-tail-length: 5.32em;
        --top-offset: 5vh;  /* Top-left corner */
        --left: 5vw;  /* Top-left corner */
        --fall-duration: 7.826s;
        --fall-delay: 4.263s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(42) {
        --star-tail-length: 6.78em;
        --top-offset: 2vh;  /* Top-left corner */
        --left: 8vw;  /* Top-left corner */
        --fall-duration: 6.562s;
        --fall-delay: 1.483s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(43) {
        --star-tail-length: 5.92em;
        --top-offset: 10vh;  /* Top-left corner */
        --left: 4vw;  /* Top-left corner */
        --fall-duration: 10.494s;
        --fall-delay: 2.328s;
        --star-color: #956c8a;
      }
      
      .star:nth-child(44) {
        --star-tail-length: 7.56em;
        --top-offset: 3vh;  /* Top-left corner */
        --left: 12vw;  /* Top-left corner */
        --fall-duration: 9.205s;
        --fall-delay: 6.072s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(45) {
        --star-tail-length: 6.98em;
        --top-offset: 6vh;  /* Top-left corner */
        --left: 10vw;  /* Top-left corner */
        --fall-duration: 8.951s;
        --fall-delay: 3.649s;
        --star-color: #FFC000;
      }
      
      .star:nth-child(46) {
        --star-tail-length: 5.61em;
        --top-offset: 95vh;  /* Bottom-right corner */
        --right: 5vw;  /* Bottom-right corner */
        --fall-duration: 7.892s;
        --fall-delay: 8.513s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(47) {
        --star-tail-length: 7.24em;
        --top-offset: 98vh;  /* Bottom-right corner */
        --right: 3vw;  /* Bottom-right corner */
        --fall-duration: 10.171s;
        --fall-delay: 7.294s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(48) {
        --star-tail-length: 6.82em;
        --top-offset: 92vh;  /* Bottom-right corner */
        --right: 6vw;  /* Bottom-right corner */
        --fall-duration: 9.365s;
        --fall-delay: 5.786s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(49) {
        --star-tail-length: 6.04em;
        --top-offset: 85vh;  /* Bottom-right corner */
        --right: 10vw;  /* Bottom-right corner */
        --fall-duration: 8.297s;
        --fall-delay: 0.596s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(50) {
        --star-tail-length: 5.77em;
        --top-offset: 98vh;  /* Bottom-right corner */
        --right: 8vw;  /* Bottom-right corner */
        --fall-duration: 11.092s;
        --fall-delay: 1.167s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(51) {
        --star-tail-length: 5.99em;
        --top-offset: 3vh;  /* Top-left corner */
        --left: 15vw;  /* Top-left corner */
        --fall-duration: 9.735s;
        --fall-delay: 3.014s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(52) {
        --star-tail-length: 6.26em;
        --top-offset: 2vh;  /* Top-left corner */
        --left: 18vw;  /* Top-left corner */
        --fall-duration: 6.925s;
        --fall-delay: 2.576s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(53) {
        --star-tail-length: 7.31em;
        --top-offset: 4vh;  /* Top-left corner */
        --left: 20vw;  /* Top-left corner */
        --fall-duration: 10.432s;
        --fall-delay: 6.148s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(54) {
        --star-tail-length: 5.85em;
        --top-offset: 1vh;  /* Top-left corner */
        --left: 22vw;  /* Top-left corner */
        --fall-duration: 8.728s;
        --fall-delay: 7.943s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(55) {
        --star-tail-length: 6.74em;
        --top-offset: 99vh;  /* Bottom-right corner */
        --right: 6vw;  /* Bottom-right corner */
        --fall-duration: 10.085s;
        --fall-delay: 4.477s;
        --star-color: #FFC000;
      }
      
      .star:nth-child(56) {
        --star-tail-length: 6.12em;
        --top-offset: 91vh;  /* Bottom-right corner */
        --right: 12vw;  /* Bottom-right corner */
        --fall-duration: 7.913s;
        --fall-delay: 3.197s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(57) {
        --star-tail-length: 6.33em;
        --top-offset: 6vh;  /* Top-left corner */
        --left: 25vw;  /* Top-left corner */
        --fall-duration: 9.658s;
        --fall-delay: 0.478s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(58) {
        --star-tail-length: 7.17em;
        --top-offset: 100vh;  /* Bottom-right corner */
        --right: 5vw;  /* Bottom-right corner */
        --fall-duration: 6.841s;
        --fall-delay: 7.893s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(59) {
        --star-tail-length: 7.58em;
        --top-offset: 7vh;  /* Top-left corner */
        --left: 30vw;  /* Top-left corner */
        --fall-duration: 8.472s;
        --fall-delay: 4.823s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(60) {
        --star-tail-length: 5.97em;
        --top-offset: 89vh;  /* Bottom-right corner */
        --right: 15vw;  /* Bottom-right corner */
        --fall-duration: 9.228s;
        --fall-delay: 1.924s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(61) {
        --star-tail-length: 7.03em;
        --top-offset: 10vh;  /* Top-left corner */
        --left: 35vw;  /* Top-left corner */
        --fall-duration: 11.133s;
        --fall-delay: 8.621s;
        --star-color: #1e90ff;
      }
      
      .star:nth-child(62) {
        --star-tail-length: 6.61em;
        --top-offset: 8vh;  /* Top-left corner */
        --left: 40vw;  /* Top-left corner */
        --fall-duration: 10.057s;
        --fall-delay: 4.967s;
        --star-color: #956c8a;
      }
      
      .star:nth-child(63) {
        --star-tail-length: 6.89em;
        --top-offset: 12vh;  /* Top-left corner */
        --left: 45vw;  /* Top-left corner */
        --fall-duration: 7.518s;
        --fall-delay: 
        --star-color: #956c8a;
      }
      
      .star::before, .star::after {
        position: absolute;
        content: "";
        top: 0;
        left: calc(var(--star-width) / -2);
        width: var(--star-width);
        height: 100%;
        background: linear-gradient(45deg, transparent, #1e90ff, transparent);
        border-radius: inherit;
        animation: blink 2s linear infinite;
      }
      
      .star::before {
        transform: rotate(45deg);
      }
      
      .star::after {
        transform: rotate(-45deg);
      }
      
      @keyframes fall {
        to {
            transform: translate3d(-30em, 0, 0);
        }
      }
      
      @keyframes tail-fade {
        0%, 50% {
            width: var(--star-tail-length);
            opacity: 1;
        }
        70%, 80% {
            width: 0;
            opacity: 0.4;
        }
        100% {
            width: 0;
            opacity: 0;
        }
      }
      
      @keyframes blink {
        50% {
            opacity: 0.6;
        }
      }
  h1{
    color: white;
    top: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  #week-1 {
    background-color: rgba(2, 3, 20, 0.5);
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 180px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
    left: 50px;
    top: 50%;
    display: flex;
    font-family: Monospace;
  } 
  #week-2 {
    background-color: rgba(2, 3, 20, 0.5);
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 180px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
    left: 300px;
    top: 50%;
    display: flex;
    font-family: Monospace;
  } 
  #week-3 {
    background-color: rgba(2, 3, 20, 0.5);
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 180px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
    left: 550px;
    top: 50%;
    display: flex;
    font-family: Monospace;
  } 
  #week-4 {
    background-color: rgba(2, 3, 20, 0.5);
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 180px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
    left: 800px;
    top: 50%;
    display: flex;
    font-family: Monospace;
  } 
  #week-5{
    background-color: rgba(2, 3, 20, 0.5);
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 180px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
    left: 1050px;
    top: 50%;
    display: flex;
    font-family: Monospace;
  } 