* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #013220;
    font-family: sans-serif;
    overflow: hidden; /* Prevent vertical scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.reelsContainer {
    display: flex;              /* Align reels horizontally */
    overflow-x: hidden;         /* Hide horizontal scrollbar */
    width: 80vw;                /* Set width of the container */
    height: 80vh;               /* Set height of the container */
}

.reel {
    min-width: 100%;            /* Each reel takes up full width */
    height: 100%;               /* Reels fill the container's height */
    background-color: #008FB9;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

button {
    position: fixed;
    top: 50%;
    background-color: #004466;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #006688;
}

button:active {
    background-color: #003344;
}
